.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
    width: auto;
    height: auto;
    background: #546e7a;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
  }

.card .title {
  color: #cfd8dc;
  font-size: 25px;
  font-weight: bold;
}

.card .operation {
  color: #eceff1;
  font-size: 40px;
  font-weight: bold;
  margin-top: 2rem
}